{% extends "layout.html" %}
{% block content %}

    <h1>Dough - A Personal Finance Tool</h1><br><br><br><br>
    <p align="left">
                Dough is an easy to use web application to manage personal spending.
                Dough can track your spending, analyze trends, and present organized financial information in clear and simple ways.
                With this information, Dough provides the user with customized feedback and recommendations to support their spending goals.
                It's functionality is designed to encourage users to improve their spending habits and meet their financial goals.
            </p><br>
    <p align="center" style="margin-bottom: 20px;"> Register and upload your financial data to start actualizing your financial goals today!</p><br>
    <div class="row" style="position: relative; table-layout: auto; align-content: center; width: 100%; height:450px; vertical-align: middle;">
            <div class="col-4 column-centered content-columns bg-blue">
                <h2>Manage Spending</h2> <br> <br>
                <img src="{{ url_for('static', filename='005-debt.png') }}" alt="Debt" height="64px" width="64px">
                <br><br><br><br><p>
                Track your personal spending in a clear, intuitively organized format
                </p>
            </div>
            <div class="col-4 column-centered content-columns bg-blue">
                <h2>Better Habits</h2> <br> <br>
                <img src="{{ url_for('static', filename='004-save-money.png') }}" alt="Save Money" height="64px" width="64px">
                <br> <br> <br> <br><p>
                Set goals to improve your spending behavior to achieve your long-term financial goals
                </p>
            </div>
            <div class="col-4 column-centered content-columns bg-blue">
                <h2>Safe & Secure</h2> <br> <br>
                <img src="{{ url_for('static', filename='006-shield.png') }}" alt="Shield" height="64px" width="64px">
                <br> <br> <br> <br><p>
                All user information is privately stored and secured with [encrypted user auth?]
                </p>
            </div>
    </div>




{% endblock content %}
