{% extends "layout.html" %}
{% block content %}

    <h1>Dough - A Personal Finance Tool</h1><br><br><br><br>
    <p align="left">
                Dough is an easy to use web application to manage personal spending.
                Dough can track your spending, analyze trends, and present organized financial information in clear and simple ways.
                With this information, Dough provides the user with customized feedback and recommendations to support their spending goals.
                It's functionality is designed to encourage users to improve their spending habits and meet their financial goals.
    </p><br>
    <p align="center" style="margin-bottom: 20px;"> Register now to start actualizing your financial goals today!</p>
    <br>
    <div class="row" style="position: relative;  align-content: center; height:450px; vertical-align: middle;">
        <div class="col-md-2"> </div>
        <div class="col-md-8" style="height:450px;">
            <div class="col-md-3 content-section bg-blue" style="vertical-align: top; height:450px;">
                <h2>Manage Spending</h2> <br> <br>
                <img src="{{ url_for('static', filename='icons/005-debt.png') }}" alt="Debt" height="64px" width="64px">
                <br><br><br><br>
                <p>
                    Track your personal spending in a clear, intuitively organized format
                </p>
            </div>
            <div class="col-md-3 content-section bg-blue" style="height:450px;">
                <h2>Better Habits</h2> <br> <br>
                <img src="{{ url_for('static', filename='icons/004-save-money.png') }}" alt="Save Money" height="64px"
                     width="64px">
                <br> <br> <br> <br>
                <p>
                    Set goals to improve your spending behavior to achieve your long-term financial goals
                </p>
            </div>
            <div class="col-md-3 content-section bg-blue" style="height:450px;">
                <h2>Safe & Secure</h2> <br> <br>
                <img src="{{ url_for('static', filename='icons/006-shield.png') }}" alt="Shield" height="64px" width="64px">
                <br> <br> <br> <br>
                <p>
                    User passwords are hashed and financial information is encrypted with SQLCipher
                    <br>
                </p>
            </div>
        </div>
        <div class="col-md-2"> </div>
    </div>




{% endblock content %}
