{% extends "layout.html" %}
{% block content %}

    <h1>User Dashboard </h1>
    <br>
    <div class="row" style="padding:10px; float:left;">
        <div class="col-md-8" style="margin:0;">
            <div class="content-section" id="first" style="align-content:center; margin-bottom:100px; margin-left:0; margin-right:0; width:100%;">
                {{ chart_html | safe }}
            </div>
        </div>
        <div class="col-md-3">
            <form method="POST" action="" enctype="multipart/form-data">
            {{ form.hidden_tag() }}
            <fieldset class="form-group" style="width:100%;">
                <div class="content-section" style="float:right; height:100%; width:100%; margin-right:10px; color:#cbd5db; background-color:#7890a1; padding-bottom: 20px;">
                    <h3 style="color:#cbd5db">Update Info</h3>
                    <p>Update and view your financial information, goals, and view your progress: </p>
                    <ul class="list-group" style="background-color:#ffffff">
                        <li class="list-group-item list-group-item-light">
                            <a class="list-group-item list-group-item-light" href="{{ url_for('main.data') }}">Upload New</a>
                        </li>

                        <li class="list-group-item list-group-item-light">
                            <form method='POST' action="{{ url_for('main.dashboard') }}" enctype="multipart/form-data">
                                <fieldset class="form-group">
                                    <form action="" method='POST'>
                                        {{ form.label }}
                                        {{ form.data_views }}
                                    </form>
                                </fieldset>
                            </form>
                        </li>

                        <li class="list-group-item list-group-item-light">
                            {{ form.make_note.label(class="form-control-label") }}
                            <form action="" method="POST"> {{ form.make_note }} </form>
                        </li>

                        <li class="list-group-item">
                            {{ form.clear_data.label(class="form-control-label") }}
                            <label>
                                <input type="checkbox" value="">
                            </label>
                        </li>

                        <li class="list-group-item">
                            {{ form.submit(class="btn btn-outline-info") }}
                        </li>
                    </ul>
                </div>
            </fieldset>
        </form>
        </div>
    </div>

{% endblock content %}