{% extends "layout.html" %}
{% block content %}

    <h1>User Dashboard </h1>

    <div class="row" id="anniversary-container" style="padding:10px;  align-content:center;">
        <!--<div class="col-4 column-centered" style="width:25%; margin-right:10px;"> </div>
        <div class="col-4 column-centered" style="width:50%; margin-right:10px;"> </div> -->
        <div class="column-centered" style="float:right; width:25%; margin-right:10px;">
            <div class="content-section" style="height:100%; color:#cbd5db; background-color:#7890a1;">
                <h3 style="color:#cbd5db">Update Info</h3>
                <p>Update and view your financial information, goals, and progress:
                <ul class="list-group " style="background-color:#ffffff">
                    <li class="list-group-item list-group-item-light">Upload New</li>
                    <li class="list-group-item list-group-item-light">Set Goals</li>
                    <li class="list-group-item list-group-item-light">Track Progress</li>
                    <li class="list-group-item list-group-item-light">Calendar View</li>
                    <li class="list-group-item list-group-item-light">Data View</li>
                </ul>
                </p>
            </div>
        </div>
    </div>




{% endblock content %}