{% extends "layout.html" %}
{% block content %}

    <h1>User Data Page</h1><br><br><br><br>

    <div class="input-file" align="left">
        <p>Upload your spreadsheets:
            <form method="POST" action="" enctype=multipart/form-data>
                <dl>
                    <p>
                        <input type="file" name="file" autocomplete="off" required>
                    </p>
                </dl>
                <p>
                    <input type=submit value=Upload>
                </p>
                {% with messages = get_flashed_messages() %}
                    {% if messages %}
                        <ul class=flashes>
                            {% for message in messages %}
                                <div class="alert alert-success{{ category }}">
                                    <span>Uploaded: October Transactions 2019.xlsx </span>
                                </div>
                            {% endfor %}
                        </ul>
                    {% endif %}
                {% endwith %}
            </form>
        </p>
    </div>


{% endblock content %}