{% extends "layout.html" %}
{% block content %}
    {% if not current_user.is_authenticated %}
        <h1 style="align: center">Welcome to Dough &nbsp; </h1>
        <img src="{{ url_for('static', filename='icons/003-piggy-bank.png') }}" alt="Piggy Bank" height="72px" width="72px" class="navbar-nav nav-link site-header">
        <br> <p style="align: center">
            Register or login to start achieving your financial goals!
        </p> <br>
            <div class="content-section" style="justify-content:center; margin-left:20%; margin-right:20%;">
                <form method="POST" action="">
                    {{ form.hidden_tag() }}
                    <fieldset class="form-group">
                        <legend class="border-bottom mb-4">Start Today!</legend>
                        <div class="form-group">
                            New to Dough?  <a href="{{ url_for('auth.register') }}">Register</a>
                            <br> <br>
                            Already Have An Account? <a class="ml-2" href="{{ url_for('auth.login') }}">Sign In</a>
                        </div>
                    </fieldset>
                </form>
            </div>

    {% endif %}
    {% if current_user.is_authenticated %}
        <h1 class="title"> Welcome back to Dough, {{ current_user.username }}! </h1>
        <br> <br>

        {% for note in notes %}
          <article class="media content-section">
            <img class="rounded-circle article-img" src="/{{ url_for(current_user.image) }}" alt="User Img">
            <div class="media-body">
                <div class="article-metadata">
                    <a class="mr-2" href="#">{{ note.author }}</a>
                    <small class="text-muted">{{ note.date.strftime('%Y-%m-%d') }}</small>
                </div>
                <h2><a class="article-title" href="{{ url_for('note', id=note.id) }}">{{ note.title }}</a></h2>
                <p class="article-content">{{ note.content }}</p>
            </div>
          </article>
        {% endfor %}

    {% endif %}
{% endblock content %}
