<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='main.css') }}">
    <!-- <link rel="stylesheet" type="text/css" href="/SeniorProject/static/main.css"/>
         <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.7.5/css/bulma.min.css">
         <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.8.0/css/bulma.min.css"> -->
    {% if title %}
        <title>Dough - {{ title }}</title>
    {% else %}
        <title>Dough - A Financial Management Tool</title>
    {% endif %}
</head>
<body>
<header class="site-header">
    <nav class="navbar navbar-expand-md navbar-dark bg-steel fixed-top" style="padding-top: 0 !important; padding-bottom: 0 !important;">
        <div class="container">
            <a href="/">
                <img src="{{ url_for('static', filename='003-piggy-bank.png') }}" alt="Piggy Bank" height="58px" width="58px" class="navbar-nav nav-link site-header">
            </a>
            <a class="navbar-brand mr-4" href="/">Dough</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarToggle" aria-controls="navbarToggle" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <!-- Navbar Top Center -->
            <div class="collapse navbar-collapse" id="navbarToggle">
                <div class="navbar-nav mr-auto">
                    {% if current_user.is_authenticated %}
                        <a class="nav-item nav-link" href="{{ url_for('main.home') }}">Home</a>
                        <a class="nav-item nav-link" href="{{ url_for('main.about') }}">About</a>
                        <a class="nav-item nav-link" href="{{ url_for('main.profile') }}">Profile</a>
                        <a class="nav-item nav-link" href="{{ url_for('main.dashboard') }}">Dashboard</a>
                        <a class="nav-item nav-link" href="{{ url_for('main.data') }}">Data</a>
                    {% endif %}
                    {% if not current_user.is_authenticated %}
                        <a class="nav-item nav-link" href="{{ url_for('main.home') }}">Home</a>
                        <a class="nav-item nav-link" href="{{ url_for('main.about') }}">About</a>
                    {% endif %}
                </div>
                <!-- Navbar Right Side -->
                <div class="navbar-nav">
                    {% if current_user.is_authenticated %}
                        <a class="nav-item nav-link" href="{{ url_for('auth.logout') }}">Logout</a>
                    {% endif %}
                    {% if not current_user.is_authenticated %}
                        <a class="nav-item nav-link" href="{{ url_for('auth.login') }}">Login</a>
                        <a class="nav-item nav-link" href="{{ url_for('auth.register') }}">Register</a>
                    {% endif %}
                </div>
            </div>
        </div>
    </nav>
</header>
<main role="main" class="container">
    <div class="row">
        <div class="col-md-8">
            {% with messages = get_flashed_messages(with_categories=true) %}
                {% if messages %}
                    {% for category, message in messages %}
                        <div class="alert alert-error">
                            {{ message }}
                        </div>
                    {% endfor %}
                {% endif %}
            {% endwith %} <!-- content used to be here -->
        </div>
    </div>
    <!-- Content from template pages goes here -->
    {% block content %}{% endblock content %}
</main>
<footer class="site-footer">
    <nav class="navbar navbar-nav navbar-expand-md navbar-dark bg-steel fixed-bottom" style="padding-top: 0 !important; padding-bottom: 0 !important;">
        <div class="container">
            <span class="left" style="color:#f0f8ff">Dough - A Personal Finance Tool</span>
            <span class="center">
                    <a href="/">
                        <img src="{{ url_for('static', filename='003-piggy-bank.png') }}" alt="Piggy Bank" height="58px" width="42px" class="navbar-nav nav-link">
                    </a>
                </span>
            <span class="right" style="color:#f0f8ff">Find us on:
                    <a href="https://www.facebook.com" style="color:#f0f8ff">Facebook</a>
                     |
                    <a href="https://www.twitter.com" style="color:#f0f8ff">Twitter</a>
                     |
                    <a href="https://www.linkedin.com" style="color:#f0f8ff">LinkedIn</a>
                </span>
        </div>
    </nav>
</footer>

<!-- Optional JavaScript -->
<!-- jQuery first, then Popper.js, then Bootstrap JS -->
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
</body>
</html>
