{% extends "layout.html" %}
{% block content %}

    <h1>User Profile Page</h1>

    <div class="col-md-4">
        <div class="content-section">
            <h3>Update User Info</h3>
            <p class='text-muted'>Update and view your financial information, goals, and progress:
            <ul class="list-group">
                <li class="list-group-item list-group-item-light">Upload New</li>
                <li class="list-group-item list-group-item-light">Set Goals</li>
                <li class="list-group-item list-group-item-light">Track Progress</li>
                <li class="list-group-item list-group-item-light">Calendar View</li>
                <li class="list-group-item list-group-item-light">Data View</li>
            </ul>
            </p>
        </div>
    </div>

{% endblock content %}